__pycache__
.cache
.coverage
.coverage.*
.git
.github
.hypothesis
.mypy_cache
.pytest_cache
.Python
.tox
.vscode
*.cover
*.egg-info
*.log
*.pyc
*.pyd
*.pyo
build
coverage.xml
dockerfiles
!dockerfiles/patches
env
figs
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
wandb